<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.apple.alfred.workflow.chromium-hist</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>6F7CBD9B-C876-48E2-B00E-92F71C1609A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B99D187-E195-432C-A079-D4A99D9A9B0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1F782AE-40F5-47BE-BA57-F230607162D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED77BD38-D63C-42CD-BEB6-6E3F454781C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB2E1AB4-C5C4-4FBD-BE75-E0A8F8405D39</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB2E1AB4-C5C4-4FBD-BE75-E0A8F8405D39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D09358D1-C880-4E62-837E-6648A334152E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8B5C9B5-DF95-428D-A2CB-4DFFD4773165</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0899A9C0-908D-4A32-9061-8DC000FAC6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D09358D1-C880-4E62-837E-6648A334152E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F00B5055-2A7B-4DF4-AFAA-1B57E89B61DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E420908F-C5F5-44DD-AB95-0B375998DC6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED77BD38-D63C-42CD-BEB6-6E3F454781C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB2E1AB4-C5C4-4FBD-BE75-E0A8F8405D39</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED77BD38-D63C-42CD-BEB6-6E3F454781C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0899A9C0-908D-4A32-9061-8DC000FAC6E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F00B5055-2A7B-4DF4-AFAA-1B57E89B61DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8B5C9B5-DF95-428D-A2CB-4DFFD4773165</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F19E20E4-AFB0-4DA1-84CE-D9C51949AFAA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>27EF6551-081A-4BF3-AE2C-3279905CA7FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9BFE8906-36E9-49A3-A4B7-41AC1E1A60F5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F7CBD9B-C876-48E2-B00E-92F71C1609A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0B447EDC-254F-4D46-B2EC-24820A8265CB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Search in Browser History and Bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chromium Bookmarks and History Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:url}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0899A9C0-908D-4A32-9061-8DC000FAC6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:history_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching, please wait...</string>
				<key>script</key>
				<string>./py3.sh chrom_history.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>chrom_history.py</string>
				<key>subtext</key>
				<string>Search in Chromium History</string>
				<key>title</key>
				<string>Chromium History Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1F782AE-40F5-47BE-BA57-F230607162D5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED77BD38-D63C-42CD-BEB6-6E3F454781C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./py3.sh domain.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C8B5C9B5-DF95-428D-A2CB-4DFFD4773165</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.url.openin</string>
				<key>path</key>
				<string>{var:url}</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>27EF6551-081A-4BF3-AE2C-3279905CA7FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./py3.sh actions.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D09358D1-C880-4E62-837E-6648A334152E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>domain</string>
						<key>outputlabel</key>
						<string>domain</string>
						<key>uid</key>
						<string>F19E20E4-AFB0-4DA1-84CE-D9C51949AFAA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>openin</string>
						<key>outputlabel</key>
						<string>openin</string>
						<key>uid</key>
						<string>9BFE8906-36E9-49A3-A4B7-41AC1E1A60F5</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clipboard</string>
						<key>outputlabel</key>
						<string>clipboard</string>
						<key>uid</key>
						<string>0B447EDC-254F-4D46-B2EC-24820A8265CB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F00B5055-2A7B-4DF4-AFAA-1B57E89B61DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB2E1AB4-C5C4-4FBD-BE75-E0A8F8405D39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} copied to the Clipboard</string>
				<key>title</key>
				<string>URL copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B99D187-E195-432C-A079-D4A99D9A9B0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:bookmark_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching, please wait...</string>
				<key>script</key>
				<string>./py3.sh chrom_bookmarks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>chrom_bookmarks.py</string>
				<key>subtext</key>
				<string>Search in Chromium Bookmarks</string>
				<key>title</key>
				<string>Chromium Bookmarks Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E420908F-C5F5-44DD-AB95-0B375998DC6F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F7CBD9B-C876-48E2-B00E-92F71C1609A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Browser History and Bookmarks Search

The Workflow searches History and Bookmarks of the configured Browsers simulatiously. 

## Supported Browsers

- Chromium
- Google Chrome
- Brave and Brave beta (Chromium)
- MS Edge
- Vivaldi
- Opera
- Sidekick
- Arc
- Safari (History search only!)

## Requires 

* Python 3
* Preferably Alfred 5

## Usage

### Bookmarks Search

Search History and Bookmarks:    
Type `&amp;` in between of the search terms to search for multiple entries e.g.: 
 `Car&amp;Bike` match entries with `Car or Bike rental` but NOT `Car driving school`


### Other Actions

Pressing `CMD` to enter `Other Actions...`:

* `Copy to Clipboard`: Copies the URL into the Clipboard
* `Open Domain`: Opens the domain  (e.g. www.google.com) in default Browser
* `Open In...`: Opens the URL with the Alfred's build in Open-In other Browser</string>
	<key>uidata</key>
	<dict>
		<key>0899A9C0-908D-4A32-9061-8DC000FAC6E2</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>27EF6551-081A-4BF3-AE2C-3279905CA7FA</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>6B99D187-E195-432C-A079-D4A99D9A9B0D</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>6F7CBD9B-C876-48E2-B00E-92F71C1609A5</key>
		<dict>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>A1F782AE-40F5-47BE-BA57-F230607162D5</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>AB2E1AB4-C5C4-4FBD-BE75-E0A8F8405D39</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>C8B5C9B5-DF95-428D-A2CB-4DFFD4773165</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>D09358D1-C880-4E62-837E-6648A334152E</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>E420908F-C5F5-44DD-AB95-0B375998DC6F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>ED77BD38-D63C-42CD-BEB6-6E3F454781C9</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>F00B5055-2A7B-4DF4-AFAA-1B57E89B61DB</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>History search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>history_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bm</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Bookmark search keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bookmark_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Google Chrome</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Include</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>chrome</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Chromium</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>chromium</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Brave</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>brave</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Brave Beta</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>brave_beta</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Opera</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>opera</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sidekick</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sidekick</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Vivaldi</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>vivaldi</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Edge</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>edge</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Arc</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>arc</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Safari</string>
			</dict>
			<key>description</key>
			<string>Browsers to be included into history and bookmark search</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>safari</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>mail.google.com,mail.gmx.com</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Comma separated list of domains to be ignored in history search</string>
			<key>label</key>
			<string>Excluded Domains</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignored_domains</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show favicons</string>
			</dict>
			<key>description</key>
			<string>Show favicons in results. NOTE: Displaying favicons slows down search</string>
			<key>label</key>
			<string>Favicons</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_favicon</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>true</string>
				<key>pairs</key>
				<array>
					<array>
						<string>recent</string>
						<string>true</string>
					</array>
					<array>
						<string>visits</string>
						<string>false</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>History entries will be sorted based on recent visits OR number of visits</string>
			<key>label</key>
			<string>Sort history search results</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sort_recent</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>%d.%m.%Y</string>
				<key>placeholder</key>
				<string>%d.%m.%Y</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Define how dates should be displayed. https://strftime.org/</string>
			<key>label</key>
			<string>Date Format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>date_format</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>4.1.4</string>
	<key>webaddress</key>
	<string>https://github.com/Acidham/chromium-hist-bookmarks</string>
</dict>
</plist>
